html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #2F97C1;
    font-family: Verdana,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.nest-container {
    display: flex;
    position: relative;
    column-gap: 10px;
}

.article {
    width: 50%; /* Set a fixed width for the container */
    background-color: #FCF4F7;
    filter: drop-shadow(0 0 0.75rem black);
}


.article-editor {
    height: 90%;
    max-height: 69vh; /* Set a fixed height for the container */
    overflow: auto; /* Add a scrollbar when content overflows */
    background-color: #FCF4F7;
    font-family: Verdana,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
/*    font-family:'Times New Roman','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
*/    font-size:1.00rem!important;
    color:black;
}

.notes {
    width: 50%;
/*    height: 100%;
*/    min-height: 76.1vh;
    background-color: #FCF4F7;
    overflow: auto;
    filter: drop-shadow(0 0 0.75rem black);
}
.notes-editor {
    height: 90%;
    max-height: 69vh;
    overflow: auto;
    background-color: #FCF4F7;
    font-family: Verdana,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 1.00rem !important;
    color: black;
}

.chat-bot{
    position: fixed;
    right: 5%;
    bottom: 5%;
}


.navbar-home {
    background-color: #FFD685!important;
   
}
